:root {
  --primary-color: #ff0040;
  --secondary-color: #ffffff;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 120deg;
}

@property --percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --color {
  syntax: "<color>";
  inherits: false;
  initial-value: var(--primary-color);
}

html {
  background-color: #1E1E1D;
  text-align:center;
  padding-top: 20vh;
  animation: flash 3s linear infinite;
  color: var(--secondary-color);
  font-family:sans-serif;
  font-size: 120%;
}

.gradient-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(
	var(--angle),
	var(--primary-color) calc(-20% + var(--percentage)),
	var(--color) var(--percentage),
	var(--primary-color) calc(20% + var(--percentage))
  );
  border-width: 4px;
  
  background-color: #fff;
  background-color: transparent;
  color: #fff;
  padding: 1rem 2rem;
  position: relative;
  box-sizing: border-box;
  font-size: 1.5rem;
  transition: border-width 0.2s ease-in-out, background-color 0.2s ease, transform 0.2s ease-in-out;
  
  &:focus-visible,
  &:hover {
	background-color: var(--primary-color);
	border-width:5px;
	outline: none;
	transform: scale(1.1);
	transition: border-width 0.2s ease-in-out, background-color 0.2s ease, transform 0.5s ease-in-out;
  }
  
  &:focus-visible {
	outline: 2px dotted rgba(255,255,255,0.3);
	outline-offset: 0.25rem;
	animation: flash 1.4s cubic-bezier(0.64, 0, 0.78, 0) infinite;
  }
  
  &:active {
	  transform: rotate(-10deg);
	}
}

/**
Animations
**/
@keyframes message {
  from {
	opacity:0;
	bottom: -20%;
  }
  to {
	opacity:1;
	bottom:-50%;
  }
}

@keyframes flash {
  0% {
	--color: var(--primary-color);
  }
  
  50% {
	--color: var(--secondary-color);
  }
  
  90% {
	--percentage: 100%;
  }
  
  100% {
	--color: var(--primary-color);
	--percentage: 100%;
  }
}

/**
The Extra Stuff
**/
.should-focus {
  &:after {
	content: 'I said focus... you are hovering';
	display: block;
	position: absolute;
	font-size:40%;
	bottom: 0;
	right: 0;
	opacity:0;
	transition: opacity 0.5s ease;
  }
  
  &:hover:after {
	animation: message 0.3s ease-in-out forwards;
  }
}

.grid-half {
  display:grid;
  grid-template-columns: 100%;
  padding: 0.5rem 2rem;
}

.button-group {
  display:flex;
  gap: 2rem;
  justify-content:center;
  align-items:center;
}